/* =============================================================================================== */
/* Global  */
:root {
  --body-bgc: rgb(29, 29, 29);
  --card-bgc: rgb(114, 114, 114);
  --clear-color: #eeeeee;
  --red-color: #ec1616e5;
  --red-clear-color: #ec1616;
  --divisory-line: #ffffff42;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: var(--body-bgc);
  color: var(--clear-color);
}
header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid var(--divisory-line);
}
header h1 {
  font-size: 24px;
  font-weight: 500;
}
header span {
  color: var(--red-clear-color);
  font-weight: 900;
}
button {
  cursor: pointer;
}
.template__button {
  background-color: var(--red-color);
  color: var(--clear-color);
  box-shadow: 0 0 5px var(--square-color);
  border: 1px solid #00000049;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 40px;
  font-weight: 500;
  margin: 10px 4px;
}
.template__button:hover {
  transform: scale(0.95);
  background-color: var(--red-clear-color);
}
.template__button:active {
  transform: scale(0.85);
}
/* =============================================================================================== */
/* Main  */
.main__container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row;
  height: 100vh;
}
/* =============================================================================================== */
/* Project  */
#project {
  background-color: rgb(37, 37, 37);
  width: 15%;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid var(--divisory-line);
}
/* =============================================================================================== */
/* Content  */
#content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 85%;
  height: 100vh;
}
#add__task {
  width: 10%;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: var(--red-color);
  color: var(--clear-color);
  border: 1px solid var(--divisory-line);
}
/* =============================================================================================== */
/* Content To do  */
.todo__container {
  color: var(--clear-color);
  width: 100%;
  border: 1px solid var(--divisory-line);
  border-left: 6px solid var(--red-color);
  padding: 10px 20px;
  margin: 10px 0;
}
